.App {

}

.WelcomeWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Welcome {
  margin: 0 auto;
  background-color: "black";
  min-height: 50vh;
  display: inherit;
  align-items: center;
  font-size: calc(7px + 2vmin);
  color: black;
}

